<doctype html>
<div class="carousel" 
     ng-mouseenter="pause()" 
     ng-mouseleave="play()" 
     ng-swipe-right="prev()" 
     ng-swipe-left="next()"
     >
    <ol class="carousel-indicators" 
        ng-show="slides.length > 1">
        <li ng-class="{active: isActive(slide)}" 
            ng-repeat="slide in slides | orderBy:'index' track by $index" 
            ng-click="select(slide)"></li>
    </ol>
    
    <div class="carousel-inner" 
         ng-transclude>
    </div>
    
    <!-- LEFT ARROW -->
    <a class="left carousel-control" 
       ng-click="prev()" 
       ng-show="slides.length > 1">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    
    <!-- RIGHT ARROW -->
    <a class="right carousel-control" 
       ng-click="next()" 
       ng-show="slides.length > 1">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
