<!doctype html>
<!--
/**
* @ngdoc overview
* @name _footer.html
*
* @description
* AngularJS partials view - footer that appears at the bottom of every screen.
* Identifies website, social media hyperlinks, and copyright notice.
*
*/
-->

<footer class="navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="copyrightLine text-center">
            <span class="copyright">Copyright © 2016 </span>
            <span class="fullname">OpenData GH6 Team</span>
            <span class="abbrev">ODGH6</span>
            <span class="allRights"> All Rights Reserved.</span>
        </div>

    </div>
</footer>

