/*****************************************************************************
 **
 ** @ngdoc overview
 ** @name main.less
 **
 ** @description
 ** CSS / LESS file defining the display attributes of the main attributes
 **
 ****************************************************************************/
/*****************************************************************************
 **
 ** @ngdoc overview
 ** @name variables.less
 **
 ** @description
 ** CSS / LESS variables to be imported into the other LESS files
 **
 ****************************************************************************/
/**
  ** Define color variables
  **/
/**
 ** Google Device Widths
 **
 ** LDT - 1440px - Large Desktop
 ** NDT - 1024px - Normal Desktop
 ** TAB -  768px - Tablet
 ** LMB -  425px - Large Mobile
 ** MMB -  375px - Medium Mobile
 ** SMB -  320px - Small Mobile
 **
 ** Bootstrap Screen Widths
 **
 ** @size_xl            : "1200px";
 ** @size_lg            : "1072px";
 ** @size_md            : "992px";
 ** @size_sm            : "768px";
 ** @size_xs            : "350px";
 **
 **/
/*****************************************************************************
 ** END OF FILE - variables.less
 ****************************************************************************/
/*****************************************************************************
 **
 ** @ngdoc overview
 ** @name mixins.less
 **
 ** @description
 ** CSS / LESS definitions to be imported into the other LESS files
 **
 ****************************************************************************/
.dropdown-menu {
  background-color: transparent;
  list-style: none;
  margin-left: 0;
  text-align: left;
}
/*****************************************************************************
 ** END OF FILE - mixins.less
 ****************************************************************************/
header,
section,
footer,
aside,
article,
figure {
  display: block;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
a {
  color: #000080;
}
a:hover,
a:focus,
a:active,
a .active {
  background-color: #005949;
  color: #000000;
  outline: inherit;
}
body {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: none;
  -webkit-tap-highlight-color: #231f20;
  background-position: 50 50;
  min-height: 100%;
  min-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
.btn:focus,
.btn:active,
.btn:active:focus,
.btn .active {
  outline: 0px;
}
.btn-primary {
  color: white;
  background-color: #231f20;
  border-color: #231f20;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #080707;
  border-color: #030202;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #231f20;
  border-color: #231f20;
}
.btn-primary .badge {
  color: #231f20;
  background-color: white;
}
.btn-variant {
  color: #007fa1;
  background-color: #005949;
  border-color: #79bcb7;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  font-weight: 700;
}
.btn-variant:hover,
.btn-variant:focus,
.btn-variant:active,
.btn-variant.active,
.open .dropdown-toggle.btn-variant {
  color: #007fa1;
  background-color: #00261f;
  border-color: #53a59f;
}
.btn-variant:active,
.btn-variant.active,
.open .dropdown-toggle.btn-variant {
  background-image: none;
}
.btn-variant.disabled,
.btn-variant[disabled],
fieldset[disabled] .btn-variant,
.btn-variant.disabled:hover,
.btn-variant[disabled]:hover,
fieldset[disabled] .btn-variant:hover,
.btn-variant.disabled:focus,
.btn-variant[disabled]:focus,
fieldset[disabled] .btn-variant:focus,
.btn-variant.disabled:active,
.btn-variant[disabled]:active,
fieldset[disabled] .btn-variant:active,
.btn-variant.disabled.active,
.btn-variant[disabled].active,
fieldset[disabled] .btn-variant.active {
  background-color: #005949;
  border-color: #79bcb7;
}
.btn-variant .badge {
  color: #005949;
  background-color: #007fa1;
}
.btn-xl {
  color: white;
  background-color: #231f20;
  border-color: #231f20;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #080707;
  border-color: #030202;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #231f20;
  border-color: #231f20;
}
.btn-xl .badge {
  color: #231f20;
  background-color: white;
}
.clear {
  clear: both;
}
.container {
  display: inline-block;
  height: 100%;
  margin: 0px auto;
  overflow: auto;
  padding: 2px;
  text-align: center;
  width: 100%;
}
.vertical-scrollbar {
  overflow-x: hidden;
  /*for hiding horizontal scroll bar*/
  overflow-y: auto;
  /*for vertical scroll bar*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0px auto;
}
.jumbotron {
  border-radius: 50px;
  color: #231f20;
  background: -webkit-radial-gradient(#414042, #005949, #414042);
  background: -moz-radial-gradient(#414042, #005949, #414042);
  background: -ms-radial-gradient(#414042, #005949, #414042);
  background: -o-radial-gradient(#414042, #005949, #414042);
  background: radial-gradient(#414042, #005949, #414042);
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.ng-animate.item:not(.left):not(.right) {
  -webkit-transition: 0s ease-in-out left;
  transition: 0s ease-in-out left;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p .large {
  font-size: 16px;
}
pre {
  background-color: #005949;
  line-height: 1.1;
  margin: 0px auto;
  width: 50%;
  z-index: 9999;
}
pre .stateDisplay {
  align-content: flex-start;
  bottom: 100px;
  display: inline-block;
  height: 90px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: 300px;
}
pre .stateDisplay p {
  color: #FF0000;
  font-size: 12px;
  overflow: hidden;
}
.row {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.text-muted {
  color: #6d6e71;
}
.text-primary {
  color: #231f20;
}
::-moz-selection {
  background: #231f20;
  text-shadow: none;
}
::selection {
  background: #231f20;
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
/*****************************************************************************
 ** END OF FILE - main.less
 ****************************************************************************/
/*# sourceMappingURL=main.css.map */