<!doctype html>
<!--
/*
 * @ngdoc overview
 * @name sample2.html
 *
 * @description
 * AngularJS partials view - Sample 2 screen.
 *
 */
-->

<section class="sample2-section">
    
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-3 col-md-6 col-sm-12 col-xs-12 text-center">

            <div class="section-heading">Sample 2</div>
            <div class="section-subheading"> --- </div>

            <p> This is the Sample 2 page. </p>
            <br/>

        </div>
    </div>
    
    <br/><br/>
    
</section>
