<!doctype html>
<!--
/*
 * @ngdoc overview
 * @name home.html
 *
 * @description
 * AngularJS partials view - Home screen.
 *
 */
-->

<section class="home-section">
    
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-3 col-md-6 col-sm-12 col-xs-12 text-center">
            <br/><br/>
            <div class="section-heading">Welcome To The</div>
            <br/><br/>
            <div class="section-subheading">
                <img class="img img-responsive img-centered" 
                        src="img/resex_logo.png"
                        alt="ResEx"/>
            </div>
            <br/><br/>
            <h2> Connecting People with Dignity! </h2>

        </div>
    </div>
    
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
</section>
