<!doctype html>
<!--
/*
 * @ngdoc overview
 * @name facility.html
 *
 * @description
 * AngularJS partials view - Facility screen.
 *
 */
-->

<section class="facility-section">
    
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">

            <div class="section-heading text-center">Facility Resources</div>
            <div class="section-subheading text-center">=================</div>

            <h4> This is the FACILITY RESOURCES page. </h4>
            <br/>

            <ul>
                <li>Scheduling Calendar
                    <ul>
                        <li>Master calendar</li>
                        <li>Shows all volunteer calendars</li>
                        <li>Shows all homeless calendars</li>
                        <li>Searchable</li>
                        <li>Export filtered (customized) calendars for printing or as PDF.</li>
                    </ul>
                </li>
                <li>Contact List
                    <ul>
                        <li>Contact information for all participants</li>
                    </ul>
                </li>
                <li>Application Manager
                    <ul>
                        <li>Pre-sorted, filtered applications for Volunteers
                            <ul>
                                <li>Requirements for qualification can be customized by administrator</li>
                                <li>Applications can be sorted by location, skills, interests, experience</li>
                            </ul>
                        </li>
                        <li>Pre-sorted, filtered applications for Assistance requests
                            <ul>
                                <li>Applications can be prioritized by needs</li>
                                <li>Followup communication can be initiated from within a profile.</li>
                           </ul>
                        </li>

                        <li>Profile Pages
                            <ul>
                                <li>Administrators can process applications and create profiles</li>
                                <li>Logs
                                    <ul>
                                        <li>Information on application</li>
                                        <li>Communication with administration</li>
                                        <li>Open / Fulfilled requests</li>
                                        <li>Internal Notes</li>
                                    </ul>
                                        
                                </li>
                                <li>Schedule Events
                                    <ul>
                                        <li>Automatically adds events to the appropriate calendar(s)</li>
                                        <li>Triggers alert messages to appropriate users.</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>               
                <li>Online Community
                    <ul> 
                        <li>Live Chat</li>
                        <li>Forums
                            <ul>
                                <li>Volunteers shares storied of challenges and resolutions to help other volunteers in similar situations.</li>
                                <li>Private administration level rooms for working with other organizations facilitating the program.</li>
                            </ul>
                        </li>                       
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <br/><br/>
    
</section>
